<div id="new_gear_form">
  <%= semantic_form_for @gear, :url => gear_index_path, :remote => true do |form| %>
    <%= form.inputs do %>
      <%= form.input :type, :as         => :select,
                            :collection => ["Guitar", "Bass", "Synth/Keyboard", "Other"],
                            :label      => "What type of gear are you selling?" %>
      <% end %>
    <% end %>
  </div>
